/*======Typology========*/

h1, h2, h3{
    font-family: "Lato",  sans-serif;
    font-weight: 100;

}


.startup-hero{
    margin-bottom:4em;
    color: orangered;
    background-image: url();
    padding:11em 2em 11em 2em
}
@media only screen and (max-width: 760px){
    .startup-hero{
        padding:7em 2em 8em 2em
    }
}
@media only screen and (max-width: 590px){
    .startup-hero{
        padding:4em 1em 5em 1em
    }
}
